* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
  
.projectBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  align-items: center;
  margin-right: 0px;
}

.basicBorder {
  border-radius: 5px;
  border: 1px solid black;
  background: rgb(91, 89, 89);
  margin-left: 5px;
  margin-right: 5px;
  width: 300px;
  line-height: 50px;
  margin-top: 5px;
  text-decoration: none;
  color: Black;
  text-align:center;
}

.basicBorder:hover {
  opacity: 25%;
}

.Name {
  padding-left: 25px;
}

.gif {
  border: 2px solid black;
  border-bottom-style: none;
  border-radius: 2%;
  margin-top: 50px;
  margin-left: 50px;
  height: 100px;
  width: 100px;
}