* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html,body,#root {
  height: 100%;
  background-color: grey;
}

/*Portfolio Section */
.projectBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  align-items: center;
  margin-right: 0px;
}
/* Single Portfolio Link Squares */
.basicBorder {
  border-radius: 5px;
  border: 1px solid black;
  background: rgb(91, 89, 89);
  margin-left: 5px;
  margin-right: 5px;
  width: 300px;
  line-height: 50px;
  margin-top: 5px;
  text-decoration: none;
  color: Black;
  text-align:center;
}
/* Hover effect for the squares */
.basicBorder:hover {
  opacity: 25%;
}
/* Header Name */
.Name {
  padding-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #A9BCD0;
    font-size: 20px;
  }

  /* Hello Gif for contact page */
.gif {
  border: 2px solid black;
  border-bottom-style: none;
  border-radius: 2%;
  margin-top: 50px;
  margin-left: 50px;
  height: 100px;
  width: 100px;
}
/* Footer for each page */
.footer {
  border-top: 8px solid #DAA49A;
  border-radius: 2px;
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
  background-color: #A9BCD0;
  /* Footer Images */
}
.imageLink {
  margin-top: 20px;
  margin-left: 20px;
  height: 50px;
  width: 50px;
  bottom: 0px;
}
/* Footer Hover */
.imageLink:hover {
  opacity: 25%;
}

.self-photo {
  margin-top: 10px;
  margin-left: 20px;
  height: 100px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.bio {
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #D8DBE2 ;
}

.headerbackground {
  background-color: #373F51;
  display: flex;
  flex-wrap: wrap;
}
